asgiref==3.6.0 ; python_version >= "3.10" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.10" and python_version < "4.0"
cryptography==40.0.2 ; python_version >= "3.10" and python_version < "4.0"
django-mysql==4.9.0 ; python_version >= "3.10" and python_version < "4.0"
django==4.2 ; python_version >= "3.10" and python_version < "4.0"
mysql-connector-python==8.0.33 ; python_version >= "3.10" and python_version < "4.0"
pillow==9.5.0 ; python_version >= "3.10" and python_version < "4.0"
protobuf==3.20.3 ; python_version >= "3.10" and python_version < "4.0"
psycopg2-binary==2.9.6 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.10" and python_version < "4.0"
pymysql==1.0.3 ; python_version >= "3.10" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.10" and python_version < "4.0"
django-elasticsearch-dsl==7.3 ; python_version >= "3.10" and python_version < "4.0"

tzdata==2023.3 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
